[submodule "semana-03/T9-responsivo-git"]
	path = semana-03/T9-responsivo-git
	url = https://github.com/natalialuizas/T9-responsivo-git
[submodule "semana-03/reprograma-site-responsivo"]
	path = semana-03/reprograma-site-responsivo
	url = https://github.com/natalialuizas/reprograma-site-responsivo.git
[submodule "semana-03/mundo-gelado"]
	path = semana-03/mundo-gelado
	url = https://github.com/natalialuizas/mundo-gelado.git
[submodule "semana-04/T9-projeto-1-m-de-maravilhosa"]
	path = semana-04/T9-projeto-1-m-de-maravilhosa
	url = https://github.com/natalialuizas/T9-projeto-1-m-de-maravilhosa.git

[submodule "semana-08/todo-list"]
	path = semana-08/todo-list
	url = https://github.com/natalialuizas/todo-list.git
[submodule "semana-10/T9-jquery"]
	path = semana-10/T9-jquery
	url = https://github.com/natalialuizas/T9-jquery.git
